root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

# UTF-16LE with BOM and CRLF is what rc.exe and Visual Studio expect
[src/resources/Win32/{*.rc,resource.h}]
charset = utf-16le
end_of_line = crlf
insert_final_newline = false
trim_trailing_whitespace = false
